<nav class="navbar bg-primary">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="get" action="/home?title=">
      <input class="form-control me-2" type="search" placeholder="Search anime title" aria-label="Search" name="title">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>