<form action="/addBook" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Book Title</label>
      <input type="text" class="form-control" name="title" id="title" required>
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Book Author</label>
      <input type="author" class="form-control" id="author" name="author">
    </div>
    <div class="mb-3">
      <label for="publisher" class="form-label">Publisher</label>
      <input type="publisher" class="form-control" id="publisher" name="publisher">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>