<a href="/addBook" class="btn btn-success badge">Add Book</a>


<% if (getAllBook.length === 0) { %>
    <h1>No Data To Display</h1>
<% } %>

<ul class="mt-4">
    <% getAllBook.forEach(book => { %>
        <li ><%- book.title %></li>
        <div class="d-flex gap-3">
            <a href="/details/<%= book._id %>" class="btn btn-primary badge">Details</a>
        <a href="/edit/<%= book._id %>" class="btn btn-success badge">Edit</a>
        <form action="/delete/<%= book._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger badge" onclick="return confirm('Sure?')">Delete</button>
        </form>
        </div>
    <% }) %>
</ul>